.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #0b0f1a;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    display: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

canvas {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}