:root {
    /* colors */
    --main-color: #0b0f1a;
    --lab-white: #f5f5f5;

    /* fonts */
    --font-main: 'Courier New', Courier, monospace;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--main-color);
    padding: 10px 30px;
    border-radius: 20px;
    font-family: var(--font-main);
    color: #f5f5f5;
    display: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

canvas {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

.camera-controls {
    z-index: 10;
    top: 15px;
    left: 15px;
    position: fixed;
    display: flex;
    gap: 4px;

}

.camera-controls div {
    background-color: var(--main-color);
    color: var(--lab-white);
    padding: 5px 9px;
    border: 1px solid var(--lab-white);
    border-radius: 4px;
    transition: all 0.3s ease;
    font-family: var(--font-main);
}

.camera-controls div.active {
    color: var(--main-color);
    background-color: var(--lab-white);
    font-weight: bold;
}

.pop-up.active {
    display: block;
    animation: aparecerPopup 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes aparecerPopup {
    from {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}