:root {
    /* colors */
    --main-color: #0b0f1a;
    --lab-white: #f5f5f5;

    /* fonts */
    --font-main: 'Courier New', Courier, monospace;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--main-color);
    padding: 20px 40px;
    border-radius: 12px;
    font-family: var(--font-main);
    color: #f5f5f5;
    display: none;
    border: 1px solid var(--lab-white);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title h3 {
    margin: 0;
}

.pop-up p {
    margin-bottom: 0;
}

canvas {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

.camera-controls {
    z-index: 10;
    top: 15px;
    left: 15px;
    position: fixed;
    display: flex;
    gap: 4px;

}

.camera-controls div {
    background-color: var(--main-color);
    color: var(--lab-white);
    padding: 5px 9px;
    border: 1px solid var(--lab-white);
    border-radius: 4px;
    transition: all 0.3s ease;
    font-family: var(--font-main);
}

.camera-controls div.active {
    color: var(--main-color);
    background-color: var(--lab-white);
    font-weight: bold;
}

#camPOV.disabled {
    opacity: 0.5;
    filter: grayscale(100%);
}